<div class="form-group mb-10" [formGroup]="form">
    <label for="password">Password</label>
    <input type="password" formControlName="password" class="form-control"  />
    <div class="error-container">
        <div *ngFor="let validation of validationMessages.password">
            <label class="validation-error" *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched || error)">
                {{ validation.message }}
            </label>
        </div>
    </div>
</div>